* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
  overflow: hidden;
}
header {
  background-color: black;
  height: 0px;
}

header h2 {
  color: wheat;
  font-size: 3.5rem;
  text-align: center;
  position: relative;
  top: 50px;
  text-decoration: underline;
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.field {
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #a7cfdf;
}

.regras {
  background-color: white;
  width: 100%;
  max-width: 195px;
  height: 393px;
  position: relative;
  bottom: 90px;
  background-image: url(../Imagens/regras.png);
  background-size: cover;
  background-color: transparent;
}

.check {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  position: relative;
  bottom: 90px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: #a7cfdf;
  border: 3px solid white;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons2 {
  display: flex;
  flex-direction: column;
}

.buttons button {
  width: 70px;
  max-width: 70px;
  height: 70px;
  margin: 10px 5px;
  padding: 0 2%;
  border-radius: 50%;
  cursor: pointer;
  border: white 3px solid;
  background-size: cover;
  transition: 0.5s;
}

.buttons button:hover,
.buttons2 button:hover {
  scale: 0.95;
}

.buttons2 button {
  width: 70px;
  height: 70px;
  margin: 10px 5px;
  padding: 0 2%;
  border-radius: 50%;
  border: white 3px solid;
  cursor: pointer;
  background-size: contain;
  transition: 0.5s;
}

.player1 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: 0.5s;
}

.gate.on {
  height: 100%;
  width: 100%;
  background-color: #a7cfdf;
  border-radius: 50%;
  bottom: 200px;
  transition: 0.5s;
}

.cpu {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.5s;
  overflow: hidden;
}
